<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- external css -->
    <link rel="stylesheet" href="../css/about.css">
    <!-- internal css -->
    <style>

    </style>
</head>
<body>
    <!--inline css  -->
    <nav>
        <a href="../index.html">Home</a>
        <a href="#about">About</a>
    </nav>
    
    <h1>About GitHub</h1>
    <section class="blog">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ea atque deserunt esse iure quo dolores, fugit aliquam mollitia repudiandae numquam repellat error odit! Saepe provident ipsa, ducimus sint architecto optio ea minima tempora tenetur soluta, odit sunt sequi iure ratione magnam amet, ex vero. Pariatur sint maxime excepturi cumque temporibus, quae natus id veritatis odio, doloremque, quasi eius eaque!</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iure debitis magnam odit eaque sapiente dolor dignissimos deserunt deleniti natus itaque cupiditate, soluta maxime, aliquid nesciunt eligendi nisi magni rerum totam consequuntur incidunt error. Error nisi doloremque accusamus, praesentium deleniti asperiores accusantium. Eaque, tempore ratione ullam ad facere molestias in commodi cum repellendus tempora, maxime, incidunt quos qui ea quod!</p>
        </div>
        <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odio quo dolorem, eligendi, obcaecati vero magni beatae, culpa nesciunt illum cum! Tempore pariatur incidunt odio assumenda autem non ducimus quibusdam nemo similique enim debitis nihil sit corrupti, iusto, obcaecati ipsam. Magni beatae asperiores non similique, itaque commodi. Ut at labore id molestias eius, beatae neque, expedita tenetur repudiandae eum ipsum.</p>
        </div>
    </section>
</body>
</html>